@media only screen and (max-width: 600px){
    #desktop-view{
        display: none;
    }
}
@media only screen and (min-width: 601px) and (max-width: 992px) {
    #desktop-view {
        display: none;
    }
}
@media only screen and (min-width: 993px) {
    #mobile-view {
        display: none;
    }
}
